# Modelo de DeepFace: VGG-Face (por defecto), Facenet512, ArcFace...
FACE_MODEL=Facenet512
# Detector: opencv (rápido), retinaface (más preciso), mtcnn...
FACE_DETECTOR=opencv
# Activar detección de fotos falsas (anti_spoofing)
FACE_ANTI_SPOOFING=true
# Tamaño máximo del lado mayor de la imagen antes de analizar
FACE_MAX_LADO=1024
